In [1]:
import pandas as pd
print('version: ',pd.__version__)

version:  2.2.3

In [3]:
import pandas as pd
list=[1,2,5,78,45]
myseries=pd.Series(list)
print(myseries)
print(myseries[3])

0     1
1     2
2     5
3    78
4    45
dtype: int64
78

In [7]:
import pandas as pd
a=[1,4,6,8]
myvar=pd.Series(a,index=["a","b","c","d"])
print(myvar)
print(myvar['b'])

a    1
b    4
c    6
d    8
dtype: int64
4

In [12]:
employee={
    "id":1,
    "name":"VinuthaG",
    "email":"vinutha@gmail.com",
    "address":"Ballari",
    "salary":8749823759870938145
}
data=pd.Series(employee)
print(data)
print("id",data["id"])
print("name",data["name"])
print("email",data["email"])
print("address",data["address"])
print("salary",data["salary"])

id                           1
name                  VinuthaG
email        vinutha@gmail.com
address                Ballari
salary     8749823759870938145
dtype: object
id 1
name VinuthaG
email vinutha@gmail.com
address Ballari
salary 8749823759870938145

In [13]:
data={
    "Name":["Alice","Bob","Charlie"],
    "Age":[25,30,35],
    "City":["nyc","la","Chocago"]
}
df=pd.DataFrame(data)
print(df)

      Name  Age     City
0    Alice   25      nyc
1      Bob   30       la
2  Charlie   35  Chocago

In [14]:
data={
    "Name":["Alice","Bob","Charlie"],
    "Age":[25,30,35],
    "City":["nyc","la","Chocago"]
}
myvar=pd.DataFrame(data)
print(myvar)
print("FirstRow:")
print(myvar.loc[0])
print(myvar.loc[[0,1]])

      Name  Age     City
0    Alice   25      nyc
1      Bob   30       la
2  Charlie   35  Chocago
FirstRow:
Name    Alice
Age        25
City      nyc
Name: 0, dtype: object
    Name  Age City
0  Alice   25  nyc
1    Bob   30   la

In [15]:
sample={
    "id":[1,2,3,4],
    "name":["A","B","C","D"]
}
df = pd.DataFrame(sample)
print(df.loc[0])
print(df.iloc[0,1])
print(df.loc[[0,1]])

id      1
name    A
Name: 0, dtype: object
A
   id name
0   1    A
1   2    B

In [16]:
print(df.loc[[0,3]])

   id name
0   1    A
3   4    D

In [17]:
user_data={
    "Name":["Alice","Bob","Charlie"],
    "Age":[25,30,35]
}
df1=pd.DataFrame(user_data,index=["user1","user2","user3"])
print(df1.loc["user3"])
print(df1)

Name    Charlie
Age          35
Name: user3, dtype: object
          Name  Age
user1    Alice   25
user2      Bob   30
user3  Charlie   35

In [19]:
user_data={
    "Age":[25,30,35],
    "Name":["Alice","Bob","Charlie"],
    "Address":["ballari","mysore","beng"]
}
df1=pd.DataFrame(user_data,columns=["Name","Address","Age"])
print(df1)

      Name  Address  Age
0    Alice  ballari   25
1      Bob   mysore   30
2  Charlie     beng   35

In [20]:
import pandas as pd
 
# Function to get user input
def get_user_input():
    name = input("Enter name: ")
    age = int(input("Enter age: "))
    salary = int(input("Enter salary: "))
    email = input("Enter email: ")
    return {"name": name, "age": age, "salary": salary, "email": email}
 
# Initial data
user_data = {
    "name": ["alex", "catty", "bob"],
    "age": [23, 24, 23],
    "salary": [54678, 56789, 98765],
    "email": ["alex@gmail.com", "cat@gmail.com", "bob@gmail.com"]
}
 
# Get new user input
new_user = get_user_input()
 
# Append new user data to the existing data
for key in user_data:
    user_data[key].append(new_user[key])
 
# Create DataFrame
df1 = pd.DataFrame(user_data, columns=["name", "age", "email", "salary"])
print(df1)

Enter name:  vinutha
Enter age:  23
Enter salary:  2897298347
Enter email:  vinitha@gmail.com

      name  age              email      salary
0     alex   23     alex@gmail.com       54678
1    catty   24      cat@gmail.com       56789
2      bob   23      bob@gmail.com       98765
3  vinutha   23  vinitha@gmail.com  2897298347

In [23]:
user_data=[
    ["Alice",25,"ballari"],
    ["vinutha",22,"mysore"],
    ["chandana",21,"pandavapura"]
]
df1=pd.DataFrame(user_data,columns=["Name","Age","city"])
print(df1)

       Name  Age         city
0     Alice   25      ballari
1   vinutha   22       mysore
2  chandana   21  pandavapura

In [25]:
student_data=pd.read_csv('student_data.csv')
print(student_data)

     id               name                          email  gender  ip_address
0     1     Dominic Alwell         dalwell0@moonfruit.com    Male          10
1     2       Pascal Ladel                  pladel1@51.la    Male           6
2     3       Gaby Chidler             gchidler2@admin.ch  Female           5
3     4      Craig Stirley  cstirley3@acquirethisname.com    Male           5
4     5  Charline McFadyen         cmcfadyen4@nytimes.com  Female          10
..  ...                ...                            ...     ...         ...
95   96      Husain Briers        hbriers2n@blinklist.com    Male           4
96   97     Alameda Delves             adelves2o@nasa.gov  Female           7
97   98   Rochette O'Devey        rodevey2p@indiegogo.com  Female           3
98   99         Porty Adin              padin2q@google.pl    Male           2
99  100      Lilly Hartles             lhartles2r@usa.gov  Female           4

[100 rows x 5 columns]