In [2]:
#hello
print("Hello world")

Hello world

In [9]:
#variables
'''vinutha'''
num1=10
num2=20.89
names="Mind sprint"
print("Number 1: ",num1)
print(f"Number 2: {num2}")
print("Name :",names)

Number 1:  10
Number 2: 20.89
Name : Mind sprint

In [13]:
#value assignment for variables
x,y,z="test1","test2","test3"
print(x,y,z)
#Assign some value to multiple variables
p=q=r="temp"
print(p,q,r,)

test1 test2 test3
temp temp temp

In [22]:
#operators
a=int(input("Entre the number:"))
b=int(input("Enter another number:"))
add=a+b
print("Addition:",add)
sub=a-b
print("Subtraction:",sub)
multi=a*b
print("Multiplication:",multi)
div=a/b
print("Division:",div)
expo=b**2
print("Exponential:",expo)
floor=b//a
print("Floor division:",floor)
print("are two number erqual?",a==b)
print("is a not equal to b",a!=b)
print("is a greater than b?",a>b)
print("Is b greater than b?",a<b)
print("is a greater than and equal to b?",a>=b)

Entre the number: 3
Enter another number: 1

Addition: 4
Subtraction: 2
Multiplication: 3
Division: 3.0
Exponential: 1
Floor division: 0
are two number erqual? False
is a not equal to b True
is a greater than b? True
Is b greater than b? False
is a greater than and equal to b? True

In [28]:
num=10
print("Initial value:",num)
num+=3
print("Number after adding 3:",num)
num-=3
print("Number after decrementing 3:",num)
num*=2
print("Number after multiplying by 2:",num)
num**=2
print("Number after Exponent:",num)
num//=2
print("Number after floor:",num)

Initial value: 10
Number after adding 3: 13
Number after decrementing 3: 10
Number after multiplying by 2: 20
Number after Exponent: 400
Number after floor: 200

In [30]:
email=input("Entre your email:")
password=input("enter your password:")
print(email=='admin@gmail.com' and password=='admin@123')

Entre your email: admin@gmail.com
enter your password: admin@123

True

In [35]:
num=int(input("Enter the number:"))
if num>0:
    print("The number is positive")
else:
    print("The number is negative")

Enter the number: -2

The number is negative

In [37]:
num=int(input("Enter the number:"))
print("positive") if num>0 else print("Negative")

Enter the number: -2

Negative

In [43]:
num=int(input("Enter the number:"))
if num>0:
    if num % 2 == 0:
        print("the number is even")
    else:
        print("the number is odd")
else:
    print("The number is negative")

Enter the number: 3

the number is odd

In [44]:
num=5
if num>0:
    # a placeholder for future code , avoids syntax errors
    pass
else:
    print("this wont execute")

In [51]:
marks=int(input("Enter the :marks"))
if 90<=marks<=100:
    print("Grade A")
elif 70<=marks<=89:
    print("Grade B")
elif 50<=marks<=69:
    print("Grade C")
elif 0<=marks<=50:
    print("fail")
else:
    print("Invalid input")

Enter the :marks 66

Grade C

In [60]:
num=int(input("Enter the number:"))
if num >0:
    if num % 2 == 0:
        print("the number is positive and even")
    else:
        print("the number is positive and odd")
elif num == 0:
    print("the number is zero")
else:
    if num <-10:
        print("the number is less than -10")
    else:
        print("the number is greater than -10")

Enter the number: -12

the number is less than -10

In [67]:
price=int(input("Enter the price:"))
if price >500:
    price=price-price*0.20
    print("You have got the discount of price:",price)
elif 200<=price<=500:
    price=price-price*0.10
    print("You have got the dicount of price:",price)
else:
    print("no discount")

Enter the price: 270

You have got the dicount of price: 243.0

In [68]:
count=1
while count<=5:
    print("Count:",count)
    count+=1

Count: 1
Count: 2
Count: 3
Count: 4
Count: 5

In [72]:
count=0
while count <=5:
    if count == 3:
        print("Breaking at count :",count)
        break
    print("Count is:",count)
    count+=1

Count is: 0
Count is: 1
Count is: 2
Breaking at count : 3

In [80]:
n1=int(input("Enter the first range of number:"))
n2=int(input("Enter the second range of number:"))
sum=0
for i in range (n1,n2+1):
    if i%2==0:
        sum+=i
    else:
        continue
print(sum)

Enter the first range of number: 1
Enter the second range of number: 10

30

In [79]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [81]:
def hello():
    print("Heloo world")
hello()

Heloo world

In [86]:
def greet(name):
    print("Good morning",name)
greet("vinutha")

Good morning vinutha

In [89]:
def add_Number(a,b):
    result=a+b
    print("result:",a+b)
add_Number(3,5)

result: 8

In [90]:
def add_Number(a,b):
    print("result:",a*b)
add_Number(3,5)

result: 15

In [91]:
def add_Number(a,b):
    print("result:",a-b)
add_Number(3,5)

result: -2

In [92]:
def add_Number(a,b):
    print("result:",a/b)
add_Number(3,5)

result: 0.6

In [94]:
def person(name,age,city):
    print(f"The name is {name} and my age is {age} and my city is {city}")
person(name= "vinutha",age=23,city="nyc")

The name is vinutha and my age is 23 and my city is nyc

In [96]:
def factorial(n):
    if n==1:
        return 1
    else:
        return n*factorial(n-1)
result=factorial(5)
print(result)

120

In [98]:
def login(email,password):
    if email=='admin@gmail.com' and password=='admin@123':
        print("welcome")
    else:
        print("Wrong email")

In [114]:
#list
myList=[10,20,30,40]
print(myList)
print(myList[2])
myList.append(50)
print(myList)
myList.insert(2,25)
print(myList)
print(myList.pop())
print(myList)
print(len(myList))
print("MInimum value:",min(myList))
print("Maximum value:",max(myList))
# print("sum value:",sum(myList))
myList.remove(25)
print(myList)

[10, 20, 30, 40]
30
[10, 20, 30, 40, 50]
[10, 20, 25, 30, 40, 50]
50
[10, 20, 25, 30, 40]
5
MInimum value: 10
Maximum value: 40
[10, 20, 30, 40]

In [118]:
fruits=["mango","apple","Chikoo"]
print(fruits[0])
myList.extend([30,70,80])
print(myList)
myList.pop(3)
print(myList)

mango
[10, 20, 30, 40, 30, 70, 80, 30, 70, 80, 30, 70, 80]
[10, 20, 30, 30, 70, 80, 30, 70, 80, 30, 70, 80]

In [120]:
mydata=[1,2,3,4,5,6,7,8,9]
for num in mydata:
    print(num)
i=0
while i<len(mydata):
    print(mydata[i])
    i+=1

1
2
3
4
5
6
7
8
9
1
2
3
4
5
6
7
8
9

In [121]:
mydata.sort(reverse=True)
print(mydata)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [122]:
mydata.reverse()
print(mydata)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [123]:
number=[10,20,30,40]
copy=number.copy()
print(copy)

[10, 20, 30, 40]

In [125]:
names=('alex','bob','catty','david')
print(names)
mixed=('test',True,10)
print(mixed)

('alex', 'bob', 'catty', 'david')
('test', True, 10)

In [126]:
list=[1,2,3,4,5,6,7]
print(list)

[1, 2, 3, 4, 5, 6, 7]

In [129]:
student={
    "id":1,
    "name":"alex",
    "email":"alex@gmail.com",
    "address":"us"
}
print(student.items())

dict_items([('id', 1), ('name', 'alex'), ('email', 'alex@gmail.com'), ('address', 'us')])

In [137]:
A={1,2,3,4,5}
B={4,5,6,7,8}
print(A|B)# (|) combines
print(A.union(B))
print(A & B)
print(A.intersection(B))
print(A-B)
print(A.difference(B))
print(A^B)
print(A.symmetric_difference(B))

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{4, 5}
{1, 2, 3}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

In [138]:
employee_salaries = {
    "Alice": 70000,
    "Bob": 80000,
    "Charlie": 75000
}

def add_employee(name, salary):
    employee_salaries[name] = salary
    print(f"Added {name} with a salary of {salary}.")

def update_salary(name, new_salary):
    if name in employee_salaries:
        employee_salaries[name] = new_salary
        print(f"Updated {name}'s salary to {new_salary}.")
    else:
        print(f"Employee {name} not found.")

def remove_employee(name):
    if name in employee_salaries:
        del employee_salaries[name]
        print(f"Removed {name}.")
    else:
        print(f"Employee {name} not found.")

def display_employees():
    if employee_salaries:
        print("Employee Salaries:")
        for name, salary in employee_salaries.items():
            print(f"{name}: {salary}")
    else:
        print("No employees found.")

add_employee("David", 90000)
update_salary("Bob", 85000)
remove_employee("Alice")
display_employees()

Added David with a salary of 90000.
Updated Bob's salary to 85000.
Removed Alice.
Employee Salaries:
Bob: 85000
Charlie: 75000
David: 90000